.tableContainer{
    margin-top: 15px;
}

.bottomBar{
    background-color: white;
    border-top: 1px solid #d4d4d4;
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
}