# rename this file to development.env and replace the comments below to get started on development of slashbase
ENV_NAME=development
PORT=3001

ROOT_USER_EMAIL=#enter your root user email
ROOT_USER_PASSWORD=#enter your root user password

# some secrets are pre-generated for development and can be changed
AUTH_TOKEN_SECRET=mApzTbbBxaxvdQCp3i0Mc5zd8z9RC1RoQEFdkZ0cHdXERu3zQNMW318tfeLLlfus
CRYPTED_DATA_SECRET=ca8f161ccd170f5600f2beb6c17873a69b689ad1be5c5e97513e39b3158643ba

TELEMETRY_ID=TEST
