# rename this file to development.env and replace the comments below to get started on development of slashbase

# some secrets are pre-generated for development and can be changed
CRYPTED_DATA_SECRET=ca8f161ccd170f5600f2beb6c17873a69b689ad1be5c5e97513e39b3158643ba
