html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden !important;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans', 'Source Sans Pro';
  line-height: 1.1;
}

h1 {
  font-weight: 700 !important;
  font-size: 34px !important;
}

h2 {
  font-weight: 700 !important;
  font-size: 24px !important;
}

h3 {
  font-weight: 600 !important;
  font-size: 22px !important;
}

h4 {
  font-weight: 600 !important;
  font-size: 20px !important;
}

h5 {
  font-size: 18px !important;
}

h6 {
  font-size: 16px !important;
}

code {
  color: #7c7c7c !important;
}

.appcontainer {
  width: 100%;
  min-height: 100vh;
  background: #fcfaf7;
}

.appcontent {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
}

.maincontainer {
  height: calc(100% - 20px);
  width: 100%;
}

.maincontent {
  padding: 10px;
  width: 100%;
  height: calc(100% - 42px);
  overflow-x: scroll;
  overflow-y: scroll;
}

.withsidebar {
  width: calc(100% - 260px) !important;
}

.form-container {
  max-width: 500px;
  margin-top: 20px;
}

.loading-state-image {
  text-align: center;
  margin-top: 150px;
}

.profileImage {
  border: 1px solid snow !important;
  border-radius: 100px;
}

.profileImageDefault {
  border: 1px solid snow !important;
  background: #615f9c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border-radius: 100px;
}

.card {
  border: 1px solid #dbdbdb;
}

.cm-theme {
  border: 1px solid #aaaaaa;
}

.cm-gutters {
  border-right: 1px solid #ddd !important;
  height: 82px !important;
}

.cm-cursor {
  border-left: 1px solid #000000 !important;
  border-right: 1px solid #000000 !important;
}

.fa-rotate-315 {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  transform: rotate(315deg);
}

.nolink {
  color: inherit;
}

.tinytext {
  font-size: 12px;
  color: #828282;
}

.empty-state {
  text-align: center;
}

.empty-state-image {
  width: 200px;
  margin-bottom: 10px;
}

.modal-card-foot {
  background-color: hsl(0, 0%, 96%) !important;
}

::-ms-reveal {
  display: none;
}

.db-tab {
  display: none;
}

.db-tab-active {
  display: inherit !important;
}

[contenteditable] {
  outline: 0px solid transparent;
}