// Colors
$primary: #000;
$info: #0000ff;
$active-color: #615f9c;

// Menu
$menu-item-hover-background-color: #bababa;
$menu-item-active-background-color: $active-color;

// Forms
$input-disabled-border-color: #d4d4d4;

// Dropdown
$dropdown-item-active-background-color: $active-color;

// Table
$table-head-background-color: #e9e9e9;
$table-row-active-background-color: $active-color;

// Tabs
$tabs-toggle-link-active-background-color: $active-color;

// Card
$card-shadow: none;
$card-border: 1px solid #dfd9cf;

// Modal
$modal-background-background-color: rgba(50, 50, 50, 0.86);
$modal-card-head-background-color: #262626;
$modal-card-title-color: white;

@import "../../node_modules/bulma/bulma.sass";