html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.appcontainer {
  width: 100%;
  min-height: 100vh;
  background: #fcfaf7;
  position: absolute;
}

.appcontent{
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	font-family: 'PT Sans', 'Source Sans Pro';
	line-height: 1.1;
}