.footer {
    width: 100vw;
    height: 20px;
    color: #000;
    background: #fcfaf7;
    border-top: 1px solid #dbdbdb;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    font-size: 12px;
}