.sidebar {
    height: 100%;
    background: #f3f3f3;
    width: 260px;
    box-shadow: inset -1px 0px 4px 0px rgb(0 0 0 / 20%);
    white-space: nowrap;
    overflow-x: hidden;
    .spacebox{
        padding: 15px 10px;
        height: calc(100% - 50px);
    }
    .menuList{
        a {
            overflow-x: hidden;
        }
    }
    .projectMenuItem {
        padding: 5px 10px;
        transition: all .2s;
    }
    .projectMenuItem:hover {
        background: #e0e0e8;
    }
}

.sidebarHideBtn{
    position: relative;
    width: calc(100% - 20px);
    left: 10px;
}

.btn{
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    transition: all .2s;
    margin-right: 5px;
    .btnMsg {
        font-size: 14px;
    }
}