.header {
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background: #262626;
    color: #ffffff;
    .btn{
        transition: all .2s;
    }
    .btn:hover {
        background: #000000;
    }
    .home {
        width: 40px;
        height: 40px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 8px;
    }
    .headerCenter{
        height: 40px;    
    }
    .headerMenu {
        display: flex;
        font-weight: 600;
        font-size: 18px;
    }
    .profileImage {
        cursor: pointer;
    }
}