.header {
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background: #262626;
    color: #ffffff;
    .leftBtns {
        display: flex;
        flex-direction: row;
        position: absolute;
        .btn{
            height: 40px;
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 8px;
            transition: all .2s;
            margin-right: 5px;
            .btnMsg {
                font-size: 12px;
                display: none;
            }
        }
        .btn:hover {
            background: #000000;
            .btnMsg {
                display: inline;
            }
        }
    }
    .headerCenter{
        height: 40px;    
    }
    .headerMenu {
        display: flex;
        font-weight: 600;
        font-size: 18px;
    }
    .profileImage {
        cursor: pointer;
    }
}