ENV_NAME=production
PORT=3000

DB_HOST=${postgres_host}
DB_PORT=${postgres_port}
DB_NAME=${postgres_db}
DB_USER=${postgres_user}
DB_PASSWORD=${postgres_password}

ROOT_USER_EMAIL=${slashbase_root_email}
ROOT_USER_PASSWORD=${slashbase_root_password}

AUTH_TOKEN_SECRET=${auth_secret}
CRYPTED_DATA_SECRET=${crypted_data_secret}

TELEMETRY_ID=${telemetry_id}