ROOT_USER_EMAIL=${slashbase_root_email}
ROOT_USER_PASSWORD=${slashbase_root_password}

AUTH_TOKEN_SECRET=${auth_secret}
CRYPTED_DATA_SECRET=${crypted_data_secret}

APP_DB_HOST=${app_db_host}
APP_DB_PORT=${app_db_port}
APP_DB_USER=${app_db_user}
APP_DB_PASS=${app_db_pass}
APP_DB_NAME=${app_db_name}