.console {
    font-family: monospace;

    .block {
        white-space: pre;
    }

    .cmd::before {
        content: "$ ";
    }

    .prompt {
        position: relative;
        padding-left: 20px;
    }

    .prompt::before {
        content: '$ ';
        position: absolute;
        left: 0;
    }

}