.contentCenter {
    text-align: center;
}

.barChartWrapper {
    max-width: 1024px;
    margin: auto;
}

.lineChartWrapper {
    max-width: 1024px;
    margin: auto;
}

.pieChartWrapper {
    max-width: 500px;
    max-height: 500px;
    margin: auto;
}