.sidebar {
  height: calc(100% - 20px);
  background: #f3f3f3;
  min-width: 260px;
  border-right: 1px solid #dbdbdb;
  white-space: nowrap;
  overflow-x: hidden;

  .spacebox {
    padding: 15px 10px;
    height: 100%;
    overflow-y: scroll;
  }

  .menuList {
    a {
      overflow-x: hidden;
    }
  }

  .subMenuList {
    margin: 0rem 0.75rem 0.75rem 0.75rem;
  }

  .console {
    float: right;
  }
}

